body {
    margin: 0;
    background: #fb923c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration-line: none;
    color: #0A66C2;
}

a:visited {
    color: #0A66C2;
}